* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

// =========================================================== //
// Header and footer										   //
// =========================================================== //

%hf-shared {
	background: black;
	overflow: hidden;
	padding: 15px;
	color: white;
	flex-shrink: 0;
	flex-grow: 0;
}

header {
	@extend %hf-shared;
	
	& > h1 {
		font-family: 'Megrim', cursive;
		display: inline-block;
		margin: 0;
	}
	
	& > nav {
		display: inline-block;
		margin-left: 2em;
		
		& > a {
			display: inline-block;
			color: white;
			text-decoration: none;
			margin: 0 5px;
			font-weight: 300;
			
			&:hover {
				font-weight: 500;
			}
		}
		
	}
}

footer {
	@extend %hf-shared;
	
	font-size: 1rem;
	padding-top: 35px;
	text-align: center;
	
	a {
		text-decoration: none;
		color: #87a742;
	}
	
}