---
---

@import "vars";

@media all and (max-width: 1725px) {
	.carousel-arrow {
		width: 10%;
	}
	.carousel-slides {
		padding: 0 10%;
	}
}

@media all and (max-width: 1300px) {
	.customer:hover {
		.image {
			-webkit-filter: none;
			filter: none;
			background: none;
		}
		img {
			opacity: 1;
		}
	}
	.customer .review {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none;
		border: none;
		color: white;
		width: 100%;
	}
	.customer .image {
		float: none;
		width: 100%;
		-webkit-filter: blur(5px);
		filter: blur(5px);
		background: #573a20;
		@include transition(all ease-in-out 0.5s);
	}
	.customer img {
		@include transition(opacity ease-in-out 0.5s);
	}
}

@media all and (max-width: 1000px) {
	section {
		padding: 3% 10%;
	}
}

@media all and (max-width: 670px) {
	section.body.vertical > .content > h2 {
		padding: 0;
	}
	.specialList > div:not(.background) {
		padding: 0;
	}
}

@media all and (max-width: 530px) {
	section {
		padding: 2% 3%;
	}
	.horizontal {
		display: block;
	}
	.horizontal > div:not(.background) {
		width: 100%;
		display: block;
	}
}

@media all and (max-width: 380px) {
	.bulletList:not(.horizontal) li {
		width: 100%;
		display: block;
	}
	.bulletList .list {
		padding-left: 10px;
	}
}